:root {
    --base-text-color: rgba(255, 255, 255, 0.9);
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --theme-color: #171c24;
    --theme-color-alt: #2c3647;
    --link-color: #3EC5FF;
}

body {
    font-family: var(--default-font-family);
    font-size: 18px;
    color: var(--base-text-color);
    background-color: var(--theme-color);
}

.audrna {
    background-color: #122c43;
    color: #5ECCE8;
    padding: 3px 6px;
    border-radius: 5px;
    font-weight: bold;
    cursor: progress;
}

.絵文字 {
    display: inline !important;
    width: 24px !important;
    height: 24px !important;
    border-radius: 0px !important;
    vertical-align: middle;
}

.block {
    max-width: 727px;
    margin: 20px auto;
    padding: 8px 20px;
    background-color: var(--theme-color-alt);
    border-radius: 5px;
}

.block h1 {
    text-align: center;
    margin: 0px;
}

img.avatar {
    border-radius: 50%;
    border-style: outset;
    border-color: white;
    border-width: 4px;
    width: 128px;
    height: 128px;
}

span.avatar-ring {
    border-style: dashed;
    border-radius: 50%;
    border-color: white;
}

#modal {
    display: none; /* Hidden by default */
    z-index: 1;
    position: fixed;
    padding-top: 50px;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    overflow: auto;
}

#modal img {
    display: block;
    margin: auto;
    max-width: 80%;
    min-width: 35%;
    cursor: default;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

p {
    line-height: 25px;
}

h1 {
    color: white;
    font-size: 175%;
}

h2 {
    color: white;
    font-size: 120%;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.hidden-link {
    color: var(--base-text-color);
    text-decoration: none;
}

a img {
    text-decoration: none;
    margin-right: 6px;
}

img {
    max-width: 100%;
    height: auto;
    margin: auto;
    border-radius: 8px;
    user-select: none;
    cursor: pointer;
}

ul.line-list, ol.line-list {
    list-style-type: none;
    padding: 0;
    line-height: 40px;
}
